html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}
header {
  width: 100%;
  padding: 40px 0 40px 0;
}
header .navBar {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .navBar a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  padding: 0 10px 0 10px;
}
header .navBar a:first-of-type {
  border-right: solid black 2px;
  font-weight: bold;
}
header .navBar a:last-of-type {
  border-left: solid black 2px;
}
@media (max-width: 500px) {
  header .navBar a {
    font-size: 1.2rem;
  }
}
.artists-container {
  display: flex;
  justify-content: center;
  margin: 2% 5%;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .artists-container {
    flex-direction: column;
    margin: 0 15%;
  }
}
.artist {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .artist {
    width: 100%;
  }
}
.artist img {
  height: 400px;
  width: 500px;
}
@media (max-width: 500px) {
  .artist img {
    height: 200px;
    width: 300px;
    margin: 0 2%;
  }
}
.artist a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  padding: 0 10px 0 10px;
  padding: 3% 0;
}
@media (max-width: 500px) {
  .artist a {
    font-size: 1.2rem;
  }
}
.artist .bio {
  font-size: 1.2rem;
  text-align: center;
}
@media (max-width: 500px) {
  .artist .bio {
    margin-bottom: 20px;
    font-size: 0.8rem;
  }
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  background-image: url("../assets/home.png");
  background-size: 500px 400px;
  height: 90vh;
  margin: 0 5%;
  border-bottom: solid black 2px;
  padding-bottom: 3%;
}
@media (max-width: 500px) {
  .title-container {
    height: 30vh;
    width: 100%;
    margin: 0 0 10% 0;
  }
}
.title-container h1 {
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
  color: white;
}
@media (max-width: 500px) {
  .title-container h1 {
    font-size: 2rem;
  }
}
.title-container button {
  padding: 5px 10px;
}
