.artists-container {
    .center();
    margin: 2% 5%;
    justify-content: space-around;

    @media @mobile {
        flex-direction: column;
        margin: 0 15%;
    }

}

.artist {
    width: 45%;
    display:flex;
    flex-direction: column;
    align-items: center;

    @media @mobile {
        width: 100%;
    }

    img {
        height: 400px;
        width: 500px;

        @media @mobile {
            height: 200px;
            width: 300px;
            margin: 0 2%;
        }
    
    }


    a {
        .link-format();
        padding: 3% 0;

        @media @mobile {
            font-size: 1.2rem;
        }
    }

    .bio {
        font-size: 1.2rem;
        text-align: center;

        @media @mobile {
            margin-bottom: 20px;
            font-size: 0.8rem;
        }
    }
}