
header{
    width: 100%;
    padding: 40px 0 10px 0;

    .navBar {
        .center();
        width: 100%;

        a {
            font-size: 1.5rem;
            color: @nav-color;
            text-decoration: none;
            padding: 0 10px 0 10px;

            &:first-of-type {
                border-right: solid @nav-color 2px;
                font-weight: bold;
            }

            &:last-of-type {
                border-left: solid @nav-color 2px;
            }
        }
    }
}